@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;} 





body {
    font-family: 'Lato', sans-serif; 
    margin: 0;
    padding: 0;
    background: #171616;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    backdrop-filter: blur(60px);
    position: relative; 
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;


    /* height: 100%; 
    overflow: hidden; 
    width: 100vw;
    overflow-x: hidden;  */
}

.euler-top-left, .euler-bottom-right {
    position: absolute;
    width: 0px;
    height: 0px;
    border-radius: 50%;

    box-shadow: 0 0 200px 80px rgba(249, 208, 63, 0.13);
    backdrop-filter: blur(80px);
    pointer-events: none;
    z-index: -1;
} 

/* Верхний левый круг */
.euler-top-left {
    width: 338px;
    height: 338px;
    top: -167px;
    left: -105px;

    border-radius: 50%;
    background: rgba(249, 208, 63, 0.04);
    box-shadow: 0px 4px 25px 0px rgb(249, 209, 63);
    filter: blur(80px); /* Добавляем размытие */
    z-index: -1; /* Помещаем пятно за контент */
}

/* Нижний правый круг */
.euler-bottom-right {
    width: 190px;
    height: 190px;
    top: 636px;
    left: 270px;

    border-radius: 50%;;
    background: rgba(249, 208, 63, 0.05);
    box-shadow: 0px 4px 25px 0px rgb(249, 209, 63);
    filter: blur(50px); /* Добавляем размытие */
    z-index: -1; /* Помещаем пятно за контент */
}

.choice-container {
    z-index: 1; /* Помещаем контент над фоном */
    background: rgba(0, 0, 0, 0.5); /* Полупрозрачный фон для контента */

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 375px;
    height: 812px;
/* 
    height: 100vh;   
    width: 100%;  */
    max-width: 400px; 
    padding: 30px;
    box-sizing: border-box;
    background: #171616;
    border-radius: 40px;
    overflow: hidden;
    border: 1px solid rgba(105, 105, 105, 1);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
}



/* изображение логотипа */
.logo {
    width: 86px;
    height: 69px;
    margin-bottom: 141px; 
    margin-top: 5px;
    align-self: center; 
    position: relative;
}

/* кнопка поиска */
.search-button {
    width: 24px;
    height: 24px;

    padding: 4px 0px 0px 0px;
    gap: 0px;
    opacity: 0px;

    position: absolute;
    top: 30px;
    left: 321px;
    background-color: #171616;
    color: #fff
}



/* width: 270px;
height: 44px;
top: 124px;
left: 30px; */
h1 {
    font-family: 'Montserrat', sans-serif; 
    color:#FCF9F2;
    font-size: 36px;
    font-weight: 500;
    /* margin-top: 124px; */

    /* font-weight: 400; */
    line-height: 43.88px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    position: absolute;
    top: 124px;

}


/* width: 278px;
height: 24px;
top: 180px;
left: 30px;*/
label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 50;
    line-height: 24px;
    text-align: left;
    color: #FCF9F2;
    margin-bottom: 20px;
    position:absolute;
    top: 180px;
}

span {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    color: #F9D03F;
}

.button-container {
    display: inline-block;
    position: absolute;
    top: 234px;
    padding-left: -4px;
}



/* .bnt-classic {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left; */
    /* text-underline-position: from-font;
    text-decoration-skip-ink: none; */
    
/* 
    width: 91px;
    height: 35px;
    top: 234px;
    left: 26px;
    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px;


    background-color: 171616;
    color: #808080;
}

.bnt-classic:active{
    background-color: #F9D03F;
    color: #000
} */
/* 
.btn-craft {

    width: Fixed (56px)px;
    height: Hug (35px)px;
    top: 234px;
    left: 137px;
    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px;
    opacity: 0px;
    background-color: #171616;
    color: #808080;
}

.btn-craft:active{
    background-color: #F9D03F;
    color: #000
/* } */

/* .btn-snack {
    width: Hug (81px)px;
    height: Hug (35px)px;
    top: 234px;
    left: 213px;
    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px 0px 0px 0px;
    opacity: 0px;
    background-color: #171616;
    color: #808080;

}

.bnt-snack:active{
    background-color: #F9D03F;
    color: #000
}  */


.radio-btn {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: center; 
    text-underline-position: from-font;
    text-decoration-skip-ink: none; 
    

    width: 91px;
    height: 35px;
    top: 234px;
    left: 26px;
    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px;


    background-color: #171616;
    color: #808080;
}

.radio-btn.selected {
    background-color: #F9D03F;
    color: #000
}

.radio-btn.inactive {
    background-color: #171616;
    color: #808080;
}

.photo-ponarth{
    width: 314px;
    height: 163px;
    border-radius: 12px;

    position: absolute;
    top: 295px;
    left: 31px;

    /* маштаб изображения */
    object-fit: cover;
}

.new{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    justify-content: center; 
    align-items: center; 

    width: 14px;
    height: 14px;

    color:#FFFFFF;
    background: #FF5454;

    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px;

    position: absolute;
    bottom: 201px;
    left: -6px;

    
}

.hit{
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    display: flex;
    justify-content: center; 
    align-items: center; 

    width: 14px;
    height: 14px;

    color: #FFFFFF;
    background: #3DB39E;

    padding: 9px 15px 9px 15px;
    gap: 10px;
    border-radius: 12px;

    position: absolute;
    bottom: 201px;
    left: -9px;
}

.beer-1 {
    width: 143px;
    height: 213px;
    border-radius: 12px;


    display: inline-block;
    position: absolute;
    top: 489px;
    left: 30px;
    background-color: #212121;
}

.beer-2 {
    width: 143px;
    height: 213px;
    border-radius: 12px;
    


    display: inline-block;
    position: absolute;
    top: 489px;
    left: 202px;
    background-color: #212121;
}

.light-beer{
    width: 71px;
    height: 89px;


    position: absolute;
    bottom: 137px;
    left: 36px;
}

h2{
    width: 60px;
    height: 14px;

    font-family: 'Montserrat', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    position: absolute;
    left: 42px;
    bottom: 114px;

}

.text{
    width: 118px;
    height: 14px;

    font-family: 'Lato', sans-serif;
    color:#FCF9F2;


    font-size: 12px;
    font-weight: 300;
    line-height: 14.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    position: absolute;
    bottom: 92px;
    left: 16px;
}

.cost{
    width: 78px;
    height: 17px;

    font-family: 'Montserrat', sans-serif; 
    color:#FCF9F2;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    position: absolute;
    bottom: 67px;
    left: 33px;
}

.btn-container {
    display: inline-block;
    position: absolute;
    left: 18px;
    bottom: 31px;

    padding-right: 4;

}

.radio-btn-volume1{
    width: 25px;
    height: 25px;
    top: 646px;
    left: 48px;
    padding: auto;
    gap: 10px;
    border-radius: 9px;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    background-color:#505050;
    color: #121111;
}

.radio-btn-volume1.selected {
    background-color: #F9D03F;
    color: #121111
}

.radio-btn-volume1.inactive {
    background-color: #505050;
    color: #121111;
}

.radio-btn-volume2{
    width: 25px;
    height: 25px;
    top: 646px;
    left: 48px;
    padding: auto;
    gap: 10px;
    border-radius: 9px;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-align: center;

    background-color:#505050;
    color: #121111;
}

.radio-btn-volume2.selected {
    background-color: #F9D03F;
    color: #121111
}

.radio-btn-volume2.inactive {
    background-color: #505050;
    color: #121111;
}

.count-volume1{
    width: 8px;
    height: 13px;

    position: absolute;
    left: 68px;
    bottom: 4px;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.count-volume2{
    width: 8px;
    height: 13px;

    position: absolute;
    left: 68px;
    bottom: 4px;

    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.8px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}

.bottom-panel {
    box-sizing: content-box;
    width: 375px;
    height: 70px;
    margin-bottom: -30px;
    margin-left: -30px;

    background-color: #121111;
    box-shadow: 0px -16px 35px 6px #00000099;

    position: absolute;
    top: 742px;
}

.cart{
    display: inline-flex;
    width: 52px;
    height: 52px;
    z-index: 2;
    align-items: center;
    justify-content: center; /* Выравниваем элементы по центру */
    cursor: pointer;

    /* Добавляем позиционирование */
    position: absolute; 
    bottom: 33px;
    left: 161px;

    border-radius: 50%;
    background: rgba(249, 208, 63, 1);
    box-shadow: 0px 0px 24px 4px rgba(249, 208, 63, 0.3)    
}

.cart i{
    font-size: 24px;
}

/* отображение уведомлений */
/* .cart-button::after {
    content: attr(data-count);  Используем атрибут data-count для отображения количества 
    position: absolute;
    bottom: 29.73px;
    left: 193px;
    width: 16.27px;
    height: 16.27px;
    background: rgba(255, 84, 84, 1);
    border: 1px solid rgba(255, 84, 84, 1);
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
}

.cart-button[data-count="0"]::after {
    display: none; Скрываем значок, если количество равно 0
}    */