@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --primary-color: #FFCC00;

    --indent-between: 25px;
    --indent-one-logic-between: calc(var(--indent-between) / 2);

    --indent-outer: 20px;
    --indent-inner: 20px;
}

/* Базовые стили */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    background: #171616;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(60px);
    position: relative;
    overflow-y: auto;
    overscroll-behavior-y: contain;
}

.euler-top-left,
.euler-bottom-right {
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    box-shadow: 0 0 200px 80px rgba(249, 209, 63, 0.308);
    pointer-events: none;
    z-index: -1;
}

.labeltext {
    font-family: "Montserrat", sans-serif;
    margin-bottom: var(--indent-between);
}

.euler-top-left {
    top: 25px;
    left: 55px;
}

.euler-bottom-right {
    bottom: 75px;
    right: -50px;
}

.greet-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100svh;
    width: 100%;
    max-width: 400px;
    padding: var(--indent-outer);
    gap: 0;
    background: transparent;
    border-radius: 15px;
    border: 1px solid rgba(105, 105, 105, 1);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.5);
}

@media (max-width: 500px) {
    .greet-container {
        border: none;
        box-shadow: none;
    }
}

@media (max-width: 767px) {
    .greet-container {
        max-width: none;
        border-radius: 0;
    }
}

.logo {
    width: 89px;
    height: 69px;
    margin: 35px auto 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 43.88px;
    text-align: left;
    margin-top: var(--indent-between);
}

form {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    height: 53px;
    border: 1px solid rgba(105, 105, 105, 1);
    border-radius: 8px;
    background: #17161600;
    color: rgba(79, 81, 84, 1);
    transition: all 0.3s ease;
}

input:hover {
    border-color: rgba(249, 208, 63, 1);
}

input:focus {
    border-color: rgba(249, 208, 63, 1);
    outline: none;
}

input:valid,
input:focus:valid,
input:not(:placeholder-shown) {
    color: rgba(249, 208, 63, 1);
    border-color: rgba(249, 208, 63, 1);
}

input::placeholder {
    color: rgba(79, 81, 84, 1);
}

.phone-container {
    position: relative;
    margin-bottom: var(--indent-between);
    width: 100%;
}

.phone-container input {
    padding-right: 120px;
}

.send-sms {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    padding: 0 15px;
    font-size: 16px;
    font-weight: 400;
    background: #F9D03F;
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.send-sms:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#send-code.expanded {
    width: 100%;
    border-radius: 8px;
    padding: 0 15px;
}

.phone-container.disabled .input-autofill {
    border-color: #4F5154 !important;
    color: #7D7D7D !important;
    cursor: not-allowed;
}

#send-code.disabled {
    opacity: 0.5 !important;
    /* background-color: #4F5154 !important; */
    /* color: #7D7D7D !important; */
    cursor: not-allowed;
}

/* Для текста в инпуте */
.phone-container.disabled .input-autofill::placeholder {
    color: #7D7D7D !important;
}

.send-sms:active {
    background-color: #d4b030;
    transform: translateY(1px);
}

.resend-text {
    font-size: 16px;
    color: #FCF9F2;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    margin-top: var(--indent-between);
}

.resend-link {
    color: #F9D03F;
    cursor: pointer;
}

.resend-link.disabled {
    color: #4F5154;
    cursor: not-allowed;
}

.sms-container {
    display: none;
    flex-direction: column;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease-out;
}

.sms-container.visible {
    display: flex;
    opacity: 1;
    transform: translateY(0);
}

.confirmation-label {
    font-size: 16px;
    color: #FCF9F2;
    font-family: "Montserrat", sans-serif;
}

.form-footer {
    display: flex;
    justify-content: center;
    margin-top: auto;
    margin-bottom: var(--indent-one-logic-between);
}

.form-footer button {
    width: 100%;
    max-width: 400px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 12px;
    height: 53px;
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to right, rgba(249, 208, 63, 1), rgba(233, 179, 42, 1));
    color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0px 4px 24px 4px rgba(249, 209, 64, 0.2);
}

#confirm-code {
    display: none;
    /* Изначально скрыта */
    opacity: 0;
    transform: translateY(15px);
    transition:
        opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
}

#confirm-code.visible-btn {
    opacity: 1;
    transform: translateY(0);
}

.input-autofill:-webkit-autofill,
.input-autofill:-webkit-autofill:hover,
.input-autofill:-webkit-autofill:focus,
.input-autofill:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #171616 inset !important;
    -webkit-text-fill-color: rgba(249, 208, 63, 1) !important;
    border-color: rgba(249, 208, 63, 1) !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

label {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 200;
    color: rgba(252, 249, 242, 1);
}

.labelSMS {
    margin-bottom: var(--indent-between);
}

span#phone-number {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #F9D03F;
}

#sms-code {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    height: 57px;
    padding: 10px;
    border: 1px solid rgba(249, 208, 63, 1);
    border-radius: 8px;
    background: #17161600;
    color: #fff;
}


#sms-code {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    height: 57px;
    padding: 10px;
    border: 1px solid rgba(105, 105, 105, 1) !important;
    /* Серая обводка по умолчанию */
    border-radius: 8px;
    background: #17161600;
    color: rgba(249, 208, 63, 1);
    transition: border-color 0.3s ease;
    /* Добавляем плавность */
}

#sms-code:hover {
    border-color: rgba(249, 208, 63, 1);
    outline: none;
}

#sms-code::placeholder {
    color: rgba(248, 208, 64, 1);
}

#sms-code:focus {
    border-color: rgba(249, 208, 63, 1) !important;
    outline: none;
}


input:not(:placeholder-shown) {
    border-color: rgba(105, 105, 105, 1);
}

.euler-top-left {
    top: 25px;
    left: 55px;
    animation:
        floatVerticalDown 60s ease-in-out infinite,
        glowPulse 8s ease-in-out infinite alternate;
}

.euler-bottom-right {
    bottom: 75px;
    right: -50px;
    animation:
        floatVerticalUp 70s ease-in-out infinite,
        glowPulse 10s ease-in-out infinite alternate 1s;
}

/* Первый шарик: вниз → вверх */
@keyframes floatVerticalDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translate(30px, calc(100vh - 100px));
    }
}

/* Второй шарик: вверх → вниз */
@keyframes floatVerticalUp {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translate(-80px, calc(-100vh + 100px));
    }
}

@keyframes glowPulse {

    0%,
    100% {
        box-shadow: 0 0 180px 80px rgba(249, 230, 63, 0.3);
    }

    50% {
        box-shadow: 0 0 220px 100px rgba(245, 205, 45, 0.45);
    }
}

.euler-top-left,
.euler-bottom-right {
    will-change: transform;
    transition: filter 0.5s ease;
}

.euler-top-left:hover,
.euler-bottom-right:hover {
    filter: blur(1px);
}

.glass-radio-group {
    background: transparent;
}


.glass-radio-group {
    --bg: rgba(255, 255, 255, 0.08);
    --text: #fff;

    display: flex;
    position: relative;
    background: var(--bg);
    border-radius: 14px;
    backdrop-filter: blur(20px);
    box-shadow:
        inset 0 1px 2px rgba(255, 255, 255, 0.1),
        inset 0 -1px 2px rgba(0, 0, 0, 0.2),
        0 8px 32px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 100%;
    margin: var(--indent-between) 0;
}

.glass-radio-group input {
    display: none;
}

.glass-radio-group label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    font-size: 15px;
    padding: 16px 20px;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 0.2px;
    color: var(--text);
    position: relative;
    z-index: 2;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
}

.glass-radio-group label:hover {
    color: rgba(255, 255, 255, 0.9);
}

.glass-radio-group input:checked+label {
    color: #000;
}

.glass-glider {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% / 2);
    border-radius: 14px;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

#main-glass-call:checked~.glass-glider {
    transform: translateX(0%);
    background: linear-gradient(135deg, rgba(192, 192, 192, 0.9), rgba(224, 224, 224, 1));
    box-shadow:
        0 4px 20px rgba(192, 192, 192, 0.4),
        inset 0 1px 2px rgba(255, 255, 255, 0.6);
}

#main-glass-telegram:checked~.glass-glider {
    transform: translateX(100%);
    background: linear-gradient(135deg, var(--primary-color), var(--primary-color));
    box-shadow:
        0 4px 20px var(--primary-color),
        inset 0 1px 2px rgba(255, 255, 200, 0.6);
}

.tg-warning {
    display: none;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: rgba(252, 249, 242, 0.75);
    text-align: left;
    margin-bottom: var(--indent-between);
    line-height: 1.4;
}

.telegram-connect {
    font-family: "Montserrat", sans-serif;
    display: none;
    align-items: center;
    margin-bottom: var(--indent-between);
    width: 100%;
    padding: 12px 18px;

    justify-content: center;

    background: rgb(0, 136, 204);
    backdrop-filter: blur(8px);
    border-radius: 12px;

    border: 1px solid rgba(255, 255, 255, 0.15);
    cursor: pointer;

    color: white;
    font-size: 16px;
    font-weight: 500;

    transition: all 0.25s ease;
}

.tg-icon {
    width: 22px;
    height: 22px;
    filter: invert(100%) brightness(200%);
}