SECRET_KEY=SECRET_KEY
ALGORITHM=HS256
EXAMPLE_JWT=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiYWRtaW4iOnRydWUsImlhdCI6MTUxNjIzOTAyMn0.KMUFsIDTnFmyG3nMiGM6H9FNFUROf3wh7SmqJp-QV30
EXPIRE_ACCESS_DAYS=180
EXPIRE_REFRESH_DAYS=365

POSTGRES_DB_URL=postgresql+asyncpg://
MYSQL_DB_URL=mysql+aiomysql://
CHARSER=utf8mb4

BASE_ID=
FIRM_ID=
DISCOUNT_ID=

DEBUG_MODE=0

CAMPAIGN_ID=
PUBLIC_KEY=